[submodule "beehives/mike"]
	path = beehives/mike
	url = ssh://mit@dogitright.de/home/mit/Source/beehives/mike/
[submodule "beehives/dir"]
	path = beehives/dir
	url = ssh://mit@dogitright.de/home/mit/Source/beehives/dir/
