.container

  #admin_login.row
    .span12
      %h1 Authentication
    .span12
      %form#login_form.form-horizontal{:method => :post, :action => AuthController.r(:login)}
        %input{:type => :hidden, :name => :r, :value => "/test"}
        %fieldset
          .control-group
            %label.control-label{:for => :username} Username
            .controls
              %input{:id => :username, :name => :username, :type => :text, :placeholder => "Username"}
          .control-group
            %label.control-label{:for => :password} Password
            .controls
              %input{:id => :password, :name => :password, :type => :password, :placeholder => "Password"}
          .actions
            %input{:type => :submit, :class => "btn primary", :value =>  "Authenticate"}

