!!! XML
!!! Strict
%html
  %head
    %title
      title
    %meta{'http-equiv' => "Content-Type",  :content => "text/html; charset=utf-8"}/
    %meta{'http-equiv' => "Cache-Control", :content => "NO-CACHE"}/
    = stylesheet_for_app
    = javascript_for_app
  %body
    = beehive_render_file "_head.haml"

    #body.container
      = @content
